# compiled files
*.pyc

# compiled distributions
build/
dist/
*.egg-info

# rst-formatted README
README.rst

# generated documentation
docs/source
docs/_build

# test reports
tests/reports/*

# coverage reports
.coverage*

# cache
.cache/
.pytest_cache/
